{% include 'graduation.header.base.html.twig' %}
{% block header %}这个是头部{% endblock %}
{% block siderbar %} sidebar{% endblock %}
{% block quick_sidebar %}quick sidebar{% endblock %}
{% block conent %}content{% endblock %}
{% block footer %}
	{% include  'graduation.footer.html.twig'  %}
{% endblock %}
{% block javascript %}
	{% include 'graduation.javascript.base.html.twig' %}
{% endblock %}

</body>
<!-- END BODY -->
</html>
